body {
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    color: #dcd3d3;
    font-family: Arial, Helvetica, sans-serif;
}
#container {
    width: 70%;
    text-align: left;
    border: 1px solid #9090d8;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}
#cabecera {
    background: #3235c7;;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-weight: bold;
    padding: 0.5em;
    margin: 0;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#post{
 color: rgb(0, 0, 0);
 padding: 1em;
}